<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%# nickname %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :nickname %>
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, autofocus: true%>
          </div>
        </div>
        <%# nickname %>

        <%# last_name %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :last_name%>
          </div>
          <div class='field-input'>
            <%= f.text_field :last_name, autofocus: true%>
          </div>
        </div>
        <%# last_name %>

        <%# first_name %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :first_name%>
          </div>
          <div class='field-input'>
            <%= f.text_field :first_name, autofocus: true%>
          </div>
        </div>
        <%# first_name %>

        <%# birth_date %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :birth_date, "Birthday"%>
          </div>
          <div class='field-input'>
            <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1999, 1, 1)%>
          </div>
        </div>
        <%# birth_date %>

        <%# email %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <%# email %>

        <%# password %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :password%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <%# password %>

        <%# password_confirmation %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :password_confirmation%>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
        <%# password_confirmation %>

        <%# self_introduction %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :self_introduction%>
            <i>(任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_area :self_introduction, style: "width:100%", rows: "5", autofocus: true%>
          </div>
        </div>
        <%# self_introduction %>

        <%# favorite_group %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :favorite_group%>
            <i>(任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :favorite_group, autofocus: true%>
          </div>
        </div>
        <%# favorite_group %>

        <%# favorite_member %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :favorite_member%>
            <i>(任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :favorite_member, autofocus: true%>
          </div>
        </div>
        <%# favorite_member %>

        <div class='actions'>
          <%= f.submit "Create Account", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
