<%= render 'shared/third-header'%>

<div class='my-page-main'>
  <div class='my-page-header'>
    <h1 class='my-page-header-text'>
      MY PAGE
    </h1>
  </div>

  <%# プロフィール %>
  <div class='my-page-profile'>
    <label class="my-page-profile-text">Profile</label>
    <div class='profile-contents'>
      <label class="profile-text">Nickname</label>
      <div class='profile-content'>
        <%= current_user.nickname %>
      </div>
    </div>
    <div class='profile-contents'>
      <label class="profile-text">Birthday</label>
      <div class='profile-content'>
        <%= current_user.birth_date %>
      </div>
    </div>
    <div class='profile-contents'>
      <label class="profile-text">好きなグループ</label>
      <div class='profile-content'>
        <%= current_user.favorite_group %>
      </div>
    </div>
    <div class='profile-contents'>
      <label class="profile-text">好きなメンバー</label>
      <div class='profile-content'>
        <%= current_user.favorite_member %>
      </div>
    </div>
    <div class='profile-contents'>
      <label class="profile-text">簡単な自己紹介</label>
      <div class='profile-content'>
        <%= current_user.self_introduction %>
      </div>
    </div>
  </div>
  <%# プロフィール %>

  <%# 作成したチャットルーム一覧 %>
  <div class='chat-rooms'>
    <label class="page-rooms-text">Created Rooms</label>
    <% current_user.rooms.each do |room| %>
      <div class='room-contents'>
        <div class='room-content'>
          <label class="room-text">Name</label>
          <div class='room-name'>
            <%= room.room_name %>
          </div>
        </div>
        <div class='room-content'>
          <label class="room-text">Group</label>
          <div class='profile-content'>
            <%= room.group_name %>
          </div>
        </div>
        <div class='room-content'>
          <label class="room-text">Introduction</label>
          <div class='profile-content'>
            <%= room.introduction %>
          </div>
        </div>
        <div class='open-room'>
          <%= link_to '開く', room_messages_path(room), class:'open-room-btn' %>
        </div>
        <% if user_id = current_user.id %>
          <div class='destroy-room'>
            <%= link_to '削除', room_path(room), method: :delete, class:'destroy-room-btn' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# 作成したチャットルーム一覧 %>
</div>