<header class='header'>

  <%= link_to image_tag('header-logo.png', class:'header-logo'), root_path %>

  <div class='header-contents'>
    <% if user_signed_in? %>
      <%= link_to image_tag('header-mypage.png', class:'header-mypage'), "/users/#{current_user.id}" %>
    <% else %>
      <%= link_to image_tag('header_user_login.png', class:'user-login'), user_session_path %>
      <%= link_to image_tag('header_user_sign_up.png', class:'user-sign-up'), new_user_registration_path %>
    <% end %>
    <%= link_to image_tag('header-rooms.png', class:'header-rooms'), "#" %>
    <%= link_to image_tag('header-calendar.png', class:'header-calendar'), "#" %>
  </div>

</header>
